/*Note: MOBILE: FIRST!!!;*/



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0F0F0;
  text-align: center;
  font-family: arial;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  font-size: 20px;
  background-color: inherit;
}

.logo {
  display: flex;
}

header img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.company-name {
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 6px;
}

header a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

h1 {
  margin: 80px 0px 20px 0px;
}

input {
  display: block;
  margin: 25px auto;
  font-size: 16px;
}

#email {
  width: 300px;
  padding: 8px;
}

#submit {
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #FFB733;
  border: 0;
}

.features {
  max-width: 1000px;
  margin: 50px auto;
  vertical-align: top;
}

.feature {
  margin: 20px auto;
}

.claims {
  display: inline-block;
  text-align: left;
  margin: 20px auto;
  vertical-align: top;
  width: 80%;
}

h2 {
  font-size: 28px;
}

.claims p {
  font-size: 19px;
}

.icons {
  display: inline-block;
  margin: 20px 20px;
  height: 60px;
  width: 60px;
}

.shipping {
  padding-right: 60px;
}

.quality {
  padding-right: 50px;
}

.pricing {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  max-width: 1000px;
  padding: 0 20px;
}

.product {
  border: 1px solid black;
  width: 250px;
  height: 300px;
}

.product-name {
  background-color: #d3d3d3;
  padding: 10px;
  width: 100%;
}

.price {
  font-size: 20px;
  padding: 20px;
}

.description {
  width: 50%;
  height: 125px;
  text-align: center;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #FFB733;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #d3d3d3;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
}

.footer-links a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#icon-credit {
  width: 250px;
  justify-content: flex-end;
  font-size: 13px;
}

#icon-credit a {
  color: black;
}

.copyright {
  margin-right: 50px;
  padding-top: 10px;
  font-size: 14px;
}

/*MEDIA QUERIES*/

@media (max-width: 760px) {
  body {
    margin-top: 160px;
  }

  header {
    display: block;
    text-align: center;
    height: auto;
    padding: 10px;
  }

  header a {
    display: flex;
    flex-direction: column;
    padding: 3px;
  }

  .company-name {
    text-align: left;
  }

  .logo {
    justify-content: center;
    padding-bottom: 10px;
   }

   h1 {
     padding: 10px;
   }

  .pricing {
    flex-direction: column;
    align-items: center;
  }

  .product {
    margin-bottom: 50px;
  }

  #video {
    width: 100vw;
    height: 56.25vw;
  }
}

@media (max-width: 600px) {
  .features {
    width: 100%;
    text-align: center;
  }

  .claims {
    text-align: center;
  }

  .shipping,
  .quality {
    padding: 0;
  }

  .icons {
    display: none;
  }
}

@media (max-width: 350px) {
  .logo {
    margin: 0 auto;
    width: 200px;
  }

  body {
    margin-top: 180px;
  }
}
