/*Note: MOBILE: FIRST!!!;*/



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;`
}

body {
  background-color: #F0F0F0;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-size: 20px;
  background-color: inherit;
}

header a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

h1 {
  margin: 80px 0px 20px 0px;
}

input {
  display: block;
  margin: 15px auto;
  font-size: 16px;
}

#email {
  width: 300px;
  padding: 8px;
}

#submit {
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #FFB733;
  border: 0;
}

.features {
  width: 400px;
  margin: 50px auto;
}

.claims {
  display: inline-block;
  text-align: left;
  margin: 10px auto;
}

h2 {
  font-size: 28px;
}

.claims p {
  font-size: 20px;
}

.icons {
  display: inline-block;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  fill: #FFB733;
}

.shipping {
  padding-right: 60px;
}

.quality {
  padding-right: 50px;
}

/*MEDIA QUERIES*/

@media (max-width: 480px) {
  .features {
    display: block;
    width: 100%;
    text-align: center;
  }

  .claims {
    text-align: center;
  }

  .shipping,
  .quality {
    padding: 0;
  }

  .icons {
    display: none;
  }

}
